<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 정보</title>
    <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
    <script>
        $(function () {

            $('#updateForm').on('submit', function () {

                if (!confirm('회원 정보를 수정하시겠습니까?')) {
                    return false;
                }


            });

        });

    </script>
</head>
<body>
    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

    <h1> 회원 정보 </h1>

    <div th:replace="/fragments/layout.html :: fragment-my-body-menu" ></div>

    <div>
        <form id="updateForm" method="post">
            <table>
                <tbody>
                <tr>
                    <th>아이디(이메일)</th>
                    <td>
                        <p th:text="${detail.email}">아이디</p>
                    </td>
                </tr>
                <tr>
                    <th>이름</th>
                    <td>
                        <p th:text="${detail.userName}">이름</p>
                    </td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td>
                        <input name="phone" type="text" th:value="${detail.phone}"/>
                    </td>
                </tr>

                <tr>
                    <th>주소</th>
                    <td>
                        <div>
                            <input type="text" id="zipcode" name="zipcode" th:value="${detail.zipcode}" readonly placeholder="우편번호 입력"/>
                            <button onclick="execDaumPostcode()" type="button">우편번호 찾기</button>
                        </div>
                        <div>
                            <input type="text" id="addr" name="addr" th:value="${detail.addr}" readonly placeholder="주소 입력"/>
                            <input type="text" id="addrDetail" name="addrDetail" th:value="${detail.addrDetail}" placeholder="주소 상세내용 입력"/>
                        </div>
                    </td>
                </tr>

                <tr>
                    <th>가입일</th>
                    <td>
                        <p th:text="${detail.regDtText}">가입일</p>
                    </td>
                </tr>
                <tr>
                    <th>회원정보 수정일</th>
                    <td>
                        <p th:text="${detail.udtDtText}">회원정보 수정일</p>
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <button type="submit">수정</button>
                <a href="/member/withdraw"> 회원 탈퇴 </a>
            </div>
        </form>

    </div>

    <!--다음 우편번호 API-->

    <!-- iOS에서는 position:fixed 버그가 있음, 적용하는 사이트에 맞게 position:absolute 등을 이용하여 top,left값 조정 필요 -->
    <div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
        <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()" alt="닫기 버튼">
    </div>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
        function execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                    var extraRoadAddr = ''; // 참고 항목 변수

                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraRoadAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraRoadAddr !== ''){
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('zipcode').value = data.zonecode;
                    document.getElementById("addr").value = roadAddr;
                    document.getElementById("addrDetail").value = data.jibunAddress;

                    // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                    if(roadAddr !== ''){
                        // document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                    } else {
                        // document.getElementById("sample4_extraAddress").value = '';
                    }

                    var guideTextBox = document.getElementById("guide");
                    // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                    if(data.autoRoadAddress) {
                        var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                        guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                        guideTextBox.style.display = 'block';

                    } else if(data.autoJibunAddress) {
                        var expJibunAddr = data.autoJibunAddress;
                        guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                        guideTextBox.style.display = 'block';
                    } else {
                        guideTextBox.innerHTML = '';
                        guideTextBox.style.display = 'none';
                    }
                }
            }).open();
        }
    </script>


</body>
</html>