<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 정보</title>
    <style>
        .list table {
            width: 100%;
            border-collapse: collapse;
        }
        .list table th, .list table td {
            border: solid 1px #000;
        }
        p.nothing {
            text-align: center;
            padding: 100px;
        }

    </style>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
    <script>

        $(document).ready(function () {

            $('.row-buttons button').on('click', function () {

                var id = $(this).val();

                var msg = '구매취소 처리 하시겠습니까?';
                if (!confirm(msg)) {
                    return false;
                }

                var url = '/api/member/product/cancel.api';
                var parameter = {
                    takeProductId: id
                };
                axios.post(url, parameter).then(function (response) {
                    console.log(response);
                    console.log(response.data);

                    response.data = response.data || {};
                    response.data.header = response.data.header || {};

                    if (!response.data.header.result) {
                        alert(response.data.header.message);
                        return false;
                    }

                    //정상적일때
                    alert(' 상품이 정상적으로 취소되었습니다.');
                    location.reload();

                }).catch(function (err) {
                    console.log(err);
                });

                return false;
            });

        });

    </script>

</head>
<body>
    <div th:replace="/fragments/layout.html :: fragment-body-menu" ></div>

    <h1>회원 정보</h1>

    <div th:replace="/fragments/layout.html :: fragment-my-body-menu" ></div>


    <div class="list">

        <table>
            <thead>
            <tr>
                <th> NO </th>
                <th>
                    등록일
                </th>
                <th>
                    상품명
                </th>
                <th>
                    상태
                </th>
                <th>
                    비고
                </th>

            </tr>
            </thead>
            <tbody id="dateList">
            <tr th:each="x, i: ${list}">
                <td th:text="${i.index+1}">1</td>
                <td>
                    <p th:text="${x.regDtText}">2021.01.01</p>
                </td>
                <td>
                    <p th:text="${x.subject}">강좌명 </p>
                </td>

                <td>
                    <P th:if="${x.status eq 'REQ'}">구매신청</P>
                    <P th:if="${x.status eq 'COMPLETE'}">결재완료</P>
                    <P th:if="${x.status eq 'CANCEL'}">구매취소</P>
                </td>
                <td>
                    <div class="row-buttons" th:if="${x.status eq 'REQ'}">
                        <button type="button" th:value="${x.id}">구매취소 처리</button>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>

    </div>

</body>
</html>