<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 정보</title>
</head>
<body>

    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

    <h1>회원 탈퇴</h1>

    <div th:replace="/fragments/layout.html :: fragment-my-body-menu"></div>


    <div>
        <p>
            회원 탈퇴를 하면
            서비스를 더이상 이용하실 수 없습니다.
            <br/>
            회원 탈퇴를 진행하시겠습니까?
        </p>
        <form id="submitForm" method="post">
            <div>
                <input type="password" name="password" placeholder="현재 비밀번호 입력" required/>
            </div>
            <div>
                <button type="submit">회원 탈퇴 하기</button>
            </div>
        </form>
    </div>


</body>
</html>