<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>장바구니 페이지</title>
    <style>
        .list table {
            width: 100%;
            border-collapse: collapse;
        }
        .list table th, .list table td {
            border: solid 1px #000;
        }
        p.nothing {
            text-align: center;
            padding: 100px;
        }
        .totalPrice {
            text-align: right;
            font-size: x-large;
            font-weight: bold;
            color: red;
        }


    </style>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
    <script>

        $(document).ready(function () {

            $('form[name=deleteForm]').on('submit', function () {

                if (!confirm(' 상품을 삭제하시겠습니까?' )) {
                    return false;
                }
            });

            $('button.update-Button').on('click', function () {

                if (!confirm(' 수량 변경하시겠습니까?' )) {
                    return false;
                }

                var $this = $(this);
                var $tr = $this.closest('tr');

                var id = $tr.find('input[name=id]').val();
                var quantity = $tr.find('input[name=quantity]').val();

                $updateForm = $('form[name=updateForm]');
                $updateForm.find('input[name=id]').val(id);
                $updateForm.find('input[name=quantity]').val(quantity);
                $updateForm.submit();
            });

        });
    </script>

</head>
<body>
    <div th:replace="/fragments/layout.html :: fragment-body-menu" ></div>

    <h1>장바구니 상세</h1>

<!--    <div th:replace="/fragments/layout.html :: fragment-my-body-menu" ></div>-->


    <div class="list">

        <table>
            <thead>
            <tr>
                <th> NO </th>
                <th>
                    등록일
                </th>
                <th>
                    상품명
                </th>
                <th>
                    수량
                </th>
                <th>
                    가격
                </th>
                <th>
                    비고
                </th>

            </tr>
            </thead>
            <tbody id="dateList">
            <tr th:each="x, i: ${list}">
                <td th:text="${i.index+1}">1</td>
                <td>
                    <p th:text="${x.regDtText}">2021.01.01</p>
                </td>
                <td>
                    <p th:text="${x.subject}">상품명 </p>
                </td>
                <td>
                    <div class="inline-div">
                        <input type="hidden" name="id" th:value="${x.id}"/>
                        <input th:value="${x.quantity}" type="text" name="quantity"/>
                        <button class="update-Button" type="button">수량변경</button>
                    </div>
                </td>
                <td>
                    <div class="inline-div">
                        <p th:text="${x.payPrice}">가격 </p>
                    </div>
                </td>

                <td>
                    <div>
                        <form name="deleteForm" method="post" action="/basket/delete">
                            <input type="hidden" name="productId" th:value="${x.productId}"/>
                         <button type="submit" >삭제</button>
                        </form>
                    </div>
                </td>
            </tr>


            <tr th:if="${#lists.size(list) < 1}">
                <td colspan="8">
                    <p class="nothing">내용이 없습니다.</p>
                </td>
            </tr>
            </tbody>
        </table>


        <div>
            <p class="totalPrice">총 주문금액 : <span th:text="${total}"> </span>원</p>
        </div>
        <hr/>
            <button type="button" onclick="location.href='/product';" style="float: right">계속쇼핑하기</button>
        <form method="post" action="/order/basket-buy">
            <input type="hidden" name="totalPrice" th:value="${total}"/>
            <button type="submit" style="float: right">주문하기</button>
        </form>


    </div>

    <form name="updateForm" method="post" action="/basket/update">
        <input type="hidden" name="id"/>
        <input type="hidden" name="quantity"/>
    </form>

</body>
</html>